<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
<ul>
    <p><a href="/test1"><img src="/static/png/1.png" mce_src="png/1.png" width="25" height="20" >接口测试</a></p>
    <p><a href="/md5"><img src="/static/png/2.png" mce_src="png/2.png" width="25" height="20" >MD5工具</a></p>
    <p><a href="/utf"><img src="/static/png/3.png" mce_src="png/3.png" width="25" height="20" >转码工具</a></p>
    <p><a href="/auto_py"><img src="/static/png/1.png" mce_src="png/3.png" width="25" height="20" >py执行器</a></p>
    </ul>
</body>
</html>